html {
    scroll-behavior: smooth;
  }
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .logo {
      width: 130px;
      height: 30px;
  }
  .bottom-left {
    position: absolute;
    bottom: 40px;
    left: 30px;
  }
  .section-hr{
      width: 10vw;
  }